<h3>Créer un compte</h3>
<div>
  <form #f="ngForm" (ngSubmit)="registerUser()">
    <input type="text" name="email" placeholder="email" [(ngModel)]="newUser.email">
    <input type="password" name="password" [(ngModel)]="newUser.password">
    <button type="submit">créer un compte</button>
  </form>
</div>
{{ f.value | json }}

<h3>Se connecter (j'ai déjà un compte)</h3>
<div>
  <form #login="ngForm" (ngSubmit)="loginUser()">
    <input type="text" name="email" placeholder="email" [(ngModel)]="existingUser.email">
    <input type="password" name="password" [(ngModel)]="existingUser.password">
    <button type="submit">se connecter</button>
    <span *ngIf="authService.user$ | async">Connecté en tant que {{ (authService.user$ | async)?.email }}</span>
  </form>
</div>
{{ login.value | json }}
